/* Address */
.address {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  // desktop
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--footer-text-color);

  @include transition(color);

  &:active,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--white {
    color: var(--secondary-text-color);
  }
}
