/* Card set */
.card-set {
  // tablet
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    gap: var(--indent);
  }
}

.card-set__item {
  &:not(:last-child) {
    // mobile
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  // tablet
  @media screen and (min-width: 768px) {
    display: flex;
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

  // desktop
  @media screen and (min-width: 1200px) {
    --items: 3;
  }
}
