/* Features */
.features {
  @extend %section;

  // desktop
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__list {
  // tablet
  @media screen and (min-width: 768px) {
    @include positionFlex($ai: flex-start);
    flex-wrap: wrap;

    gap: var(--indent);
  }
}

.features__list-item {
  &:not(:last-child) {
    // mobile
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  // tablet
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

  // desktop
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.features__icon-wrap {
  @include positionFlex();

  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--team-bgc);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--title-text-color);

  text-transform: uppercase;

  // mobile
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  // width: 270px;

  font-size: 14px;
  line-height: calc(24 / 14);
}
