/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bgc);
}

.footer__container {
  @extend %container;

  // tablet
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 60px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    @include positionFlex($jc: flex-start, $ai: baseline);
  }
}

.footer__adress-wrap {
  text-align: center;

  // mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-right: 95px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
}

.footer__form-wrap {
  text-align: center;

  // tablet
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    min-width: 450px;
  }

  // desktop
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-left: auto;
    width: 570px;
  }
}

.footer__form-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer__form {
  // desktop
  @media screen and (min-width: 1200px) {
    @include positionFlex($jc: flex-start);

    gap: 12px;
  }
}
