/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bgc);
}

.footer__container {
  @extend %container;
  @include positionFlex($jc: flex-start, $ai: baseline);
}

.footer__adress-wrap {
  margin-right: 95px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
}

.footer__form-wrap {
  margin-left: auto;
  width: 570px;
}

.footer__form-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.footer__form {
  @include positionFlex($jc: flex-start);

  gap: 12px;
}
