.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;

  background-color: var(--hero-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin: 0 auto 30px auto;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  box-shadow: var(--btn-shadow);
  min-width: 216px;
  min-height: 50px;

  padding: 10px 0;
  margin: 0 auto;

  background-image: none;
}
