/* Team */
.team {
  @extend %section;

  background-color: var(--team-bgc);
}

.team__list {
  background-color: var(--team-bgc);

  // tablet
  @media screen and (min-width: 768px) {
    @include positionFlex($jc: flex-start);
    flex-wrap: wrap;

    gap: var(--indent);
  }
}

.team__list-item {
  box-shadow: var(--container-shadow);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--primary-bgc);

  &:not(:last-child) {
    // mobile
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  // tablet
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

  // desktop
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}
