/* Works */
.works {
  @extend %section;

  // desktop
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.works__list {
  @include positionFlex($jc: flex-start);
}

.works__list-item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
