/* Mixins */

@mixin positionFlex($type: flex, $jc: center, $ai: center) {
  display: $type;
  justify-content: $jc;
  align-items: $ai;
}

@mixin transition($property...) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
